body {
    background-size: 100%;
    text-align: center;
    margin: 5%;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

#catalysm {
    font-size: 200%;
}

.contact-list {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}


footer {
    color: white;
    font-size: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

